<header class="w-[100dvw] bg-melon-red border-melon-green border-8 border-solid">
  <h1 class="p-4 text-center text-4xl text-white font-semibold">WTRMLN CHAT</h1>
</header>
<main class="relative border-melon-green border-8 border-solid min-h-[77dvh]">
  <div class="absolute inset-2">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
