<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>WTRMLN CHAT - SERVER ERROR!</title>
    <link rel="stylesheet" href="/css/app.css"/>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="w-[100dvw]">
    <a href={~p"/"}>
      <header class="w-full bg-melon-red border-melon-green border-8 border-solid">
        <h1 class="p-4 text-center text-4xl font-noto text-white font-semibold">WTRMLN CHAT</h1>
      </header>
    </a>
    <div class="flex flex-col items-center gap-8 pt-4">
      <h2 class="text-2xl text-melon-black text-center font-noto font-semibold">
        Big oof! You encountered a server error. Feel free to submit an issue on <a href="https://github.com/jake-abed/wtrmln/">GitHub</a> to get it fixed up.
      </h2>
      <p class="text-center text-lg font-noto text-melon-black pb-4">Don't worry: you'll be chatting again in no time. In the meantime, enjoy this gif.</p>
      <img class="h-[200px]" src={~p"/images/fine.gif"} alt="This is fine..." />
      <a href={~p"/"} class="mx-auto p-4 font-noto text-lg font-semibold text-white bg-melon-red rounded-xl border-melon-green border-8 border-solid">
        BACK HOME
      </a>
    </div>
  </body>
</html>
